@mixin GridCoRow($columnStart, $columnEnd, $rowStart, $rowEnd) {
    grid-column-start: $columnStart;
    grid-column-end: $columnEnd;
    grid-row-start: $rowStart;
    grid-row-end: $rowEnd;
}

@mixin GridSetup($columns, $rows){
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin FxCenter {
    align-items: center;
    justify-content: center;
}

@mixin Fx ($align, $jutify){
    align-items: $align;
    justify-content: $jutify;
}