*{
    margin: 0;
    padding: 0;
}

body{
    background: #141414;
    color: white!important;
    font-family: 'PT Sans', sans-serif!important;
    line-height: 1.6;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
}

#Home{
    background: #50ff40;
    color: #141414!important;
}

#About{
    background: #ffffff;
    color: #50ff40!important;
}

#Portfolio{
    background: #141414;
    color: white;
}


.bg-jumbotron{
    background: #141414;
    /* color: #4ec936; */
}